{% extends "../layouts/base.html" %} {# Estamos cargando la plantilla base#} 
{%load static %} 
{%block title %} Inventarios {% endblock %} 
 


{% block cabecera_p %} 
  Inventario  
  {% endblock %}

  {% block cabecera_imagen %} 
  <img src="{% static 'img/inventarios.svg' %}" class="img-plantilla" alt="" />
  {% endblock %}
    

{% block content %}


 {% include 'layouts/submenu_inventario.html' %}

  
 
  <h2>Cargar artículos</h2>
  {% if messages %}
  <div class="mt-3">
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show small-form-alert" role="alert">
        <strong> Éxito:</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
      </div>
    {% endfor %}
  </div>
 {% endif %}
 <div class="nuevaentrada container mt-4 p-4 bg-white rounded shadow-sm" style="max-width: 750px;">
  <form method="post">
    {% csrf_token %}
    <div class="row g-3">
      
      <div class="col-md-4">
  <label for="id_factura_no">Factura No</label>
  <input
    type="text"
    name="factura_no"
    id="id_factura_no"
    class="form-control"
    placeholder="Ingrese número de factura"
    hx-get="{% url 'detalle_factura_htmx' %}"
    hx-trigger="keyup changed delay:300ms"
    hx-target="#tabla-detalles"
    autocomplete="off"
    value="{{ form.factura_no.value|default_if_none:'' }}"
  >
</div>

      <div class="col-md-4">
        <label for="id_factura_no">Artículo</label>
        {{ form.articulo }}
      </div>
      <div class="col-md-4">
        {{ form.cantidad.label_tag }}
        {{ form.cantidad }}
      </div>
    </div>
    <div class="mt-4">
      <button type="submit" class="btn btn-primary w-100">Guardar</button>
    </div>
  </form>
 </div>

 <div id="tabla-detalles" class="mt-4">
  <!-- Aquí se mostrarán en tiempo real los artículos de la factura -->
</div>

{% endblock %}

