<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover shadow-sm align-middle text-center">
    <thead class="table-dark">
    <tr>
      <th>Factura</th>
      <th>Artículo</th>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th>Responsable</th>
    </tr>
  </thead>
  <tbody>
    {% for entrada in entradas %}
    <tr>
      <td>{{ entrada.factura.factura_no }}</td>
      <td>{{ entrada.articulo.nombre_art }}</td>
      <td>{{ entrada.cantidad }}</td>
      <td>{{ entrada.factura.fecha_entrada|date:"d M Y H:i" }}</td>
      <td>{{ entrada.factura.usuario_responsable }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No se encontraron resultados.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>