* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Login*/
.content_login{
margin-top: 10%;
margin-bottom: 15%;
}

.titulo-login{
  text-align: center;
}

/*Fin Login*/

/*Estilos para formulario de usuarios*/
.form-label {
  margin-bottom: 0.3rem;
}

input.form-control {
  margin-bottom: 0.5rem;
}

.text-danger {
  margin-top: 0.2rem;
}


.input-group .form-control {
  height: 2.4rem;
  border-right: none;
}

.input-group-text {
  cursor: pointer;
  background-color: #fff;
  border-left: none;
  height: 2.4rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.input-group-text i {
  font-size: 1rem;
  color: #6c757d;
}

.campo-password {
  width: 300px;
}

.error-text-1 {
  color: #ffcc00 !important;  /* amarillo oscuro */
  font-weight: bold;
  font-size: 1rem;
}
/*fin estilos formulario usuarios*/

/* Estilo para la barra lateral oculta */
.sidebar {
  position: fixed;
  top: 0;
  left: -135px;
  width: 150px;
  height: 95vh;
  background-color: #044662;
  transition: left 0.3s ease;
  z-index: 1030;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: flex-start; /* Centra horizontalmente los enlaces */
  /*un borde especial para el menu*/
  border-right: 4px solid #0d6efd; /* azul Bootstrap */
  background: rgba(52, 58, 64, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  padding: 3px 0;
  width: 100%;
  text-align: center; /* <--- cambiar esto */
  transition: background-color 0.3s;
  display: flex;           /* permite alinear el ícono y el texto */
  align-items: center;     /* centra verticalmente */
  justify-content: flex-start; /* alinea a la izquierda */
  padding-left: 15px;      /* separa del borde */
  padding-right: 15px;  
  gap: 10px;               /* espacio entre ícono y texto */
}

.sidebar:hover {
  left: 0;
}

.sidebar a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #0d6efd;
}

/*fin */

/*menu para moviles*/
/* Tema claro y oscuro (La configuracion se guarda en el perfil del usuario)*/

body.claro {
    background-color: #044662 !important;
    color: #ffffff !important;
}
body.oscuro {
    background-color: #121212 !important;
    color: white !important;
}

/*botones de Ajustes backup*/
.ajustes-backup{
  width: 210px;
  height: 65px;
  font-size: 20px;
  background-color: #0d6efd;
  color: #ffffff;
}


/* Estilo botón visible solo en móviles */
.btn-menu-mobile {
  display: none;
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: #044662;
  color: white;
  padding: 4px 6px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  z-index: 2001;
  cursor: pointer;
}



/* Mostrar menú si el checkbox está activado */
#menu-toggle:checked + label + .sidebar {
  left: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .sidebar{
    left: -150px;
  }
  .btn-menu-mobile {
    display: block;
  }

  .sidebar:hover {
    left: -150px; /* desactiva hover en móviles */
  }
}
/*Fin menu para moviles*/


/* nombre del usuario logueado*/
/*Boton salir*/
.contenedor-encabezados{
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
.encabezados {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:center;
  justify-items: last baseline;
  padding-left: 10px;
  flex-wrap: wrap;
  gap: 20px;
  width: 75%;
}

.encabezado-titulo{
  color: #00e5ff; 
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 7px 1px rgba(0, 0, 0, 0.7);
  
}


.encabezado-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items:center;
  justify-items: center;
  width: 85px;
  padding-top: 5px;
  padding-right: 8px;
  width: 10%;
}

.logout-button {
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.logout-button:hover {
  background-color: #dc3545; /* rojo Bootstrap */
  color: #fff;
  border-color: #dc3545;
}

.logout-button i {
  transition: transform 0.3s ease;
}

.logout-button:hover i {
  transform: rotate(-90deg);
}
/* Fin nombre del usuario logueado*/
/*Fin Boton salir*/

.card-img {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  padding-bottom: 30px;
  
}

.img-principal {
  width: 75vmin;            
  height: 300px;

  
}

.img-plantilla{
  width: 60px;            
  height: 60px;
  border-radius: 50%;
  margin-right: 25px;
}
    
 .logo-sara {
  width: 100px;            
  height: auto;
}



h1 {
    text-align: center;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 20px;
}

ul li a {
  text-decoration: none;
}

main {
  margin-left: 20px;
  padding: 2rem;
}




.subtitulo {
  display: flex;
  justify-content: center;
  color: #ffff;
  text-align: center;
}

.btn-submenu{
  box-sizing: border-box;
}
.resumen1 {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 6rem;

}

.resumen-item {
  width: 120px;
  height: 130px;
  text-align: center;
  color: black;
  transition: transform 0.3s ease;
}

.subMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
  width: 89%;
 
}
.subMenu-item {
  border: 3px solid black;
  padding: 3px 20px 3px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}
/*Los cuadros de resumens del index se animan*/
.saltar:hover {
  transform: translateY(-18px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
/*modifica el comportamiento del modal al editar un usuario*/
.modal-content {
  color: #fff;
  background: #044662;
}



/* Uniforme para todos los inputs del formulario */
form .form-control, .select2-container .select2-selection--single {
    height: 42px;
    border-radius: 0.375rem;
    font-size: 16px;
    padding: 8px 12px;
}

/* Estilo del select2 visible */
/* Arreglo para el corte visual del texto en el select2 */
.select2-container .select2-selection--single {
    height: auto;  /* Permite que crezca según contenido */
    min-height: 42px;
    padding: 4px 12px; /* Ajuste de espacio interno */
    display: flex;
    align-items: center;
    border: 1px solid #ced4da !important;
    background-color: white;
    box-sizing: border-box;
}

/* Para que el input de búsqueda interna también tenga buen estilo */
.select2-container .select2-search__field {
    height: 38px;
    font-size: 16px;
}

.nuevaentrada label {
  color: #000; /* o el color que combine con tu diseño */
  font-weight: 600;
}



.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal;  /* Corrige la altura de línea */
    padding-left: 0;      /* Quita paddings duplicados */
    margin: 0;
    font-size: 16px;
}

/* Para que todos los inputs (incluyendo factura_no) se vean del mismo ancho */
.form-control {
    width: 100%;
    height: 42px;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 0.375rem;
    box-sizing: border-box;
}


/* Mensaje de alerta */
.small-form-alert {
  font-size: 0.95rem;
}

/* Tema claro y oscuro (La configuracion se guarda en el perfil del usuario)*/

body.claro {
    background-color: #044662 !important;
    color: #ffffff !important;
}
body.oscuro {
    background-color: #121212 !important;
    color: white !important;
}

/*selector de fechas*/
.daterangepicker {
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
}

.daterangepicker td.available {
  color: #000 !important; /* Asegura que los días estén en negro */
}

.daterangepicker td.active,
.daterangepicker td.in-range {
  background-color: #007bff; /* Color de selección */
  color: #fff !important;   /* Texto blanco sobre fondo azul */
}

.daterangepicker td.off {
  color: #ccc !important; /* Días fuera de mes */
}

.daterangepicker .calendar-table th {
  color: #000 !important; /* Días de la semana */
}

/* inicio select*/

/* Contenedor principal del dropdown */
.select2-container .select2-dropdown {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Cada opción de la lista */
.select2-container .select2-results__option {
    padding: 8px;
    color: black;
    background-color: white;
    transition: background-color 0.2s;
}

/* Hover sobre opción */
.select2-container .select2-results__option--highlighted {
    background-color: #007BFF !important;
    color: white !important;
}

/* Opción seleccionada */
.select2-container .select2-results__option[aria-selected="true"] {
    background-color: #007BFF !important;
    color: white !important;
}

/* Área de búsqueda dentro del dropdown */
.select2-container .select2-search__field {
    padding: 6px;
    border: 1px solid #ccc;
}
/*fin select*/



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background-color: #212529;
  color: #fff;
  
  padding-top: 15px;
  z-index: 1020;
  display: flex;
  justify-content: center;
  align-items: center;
}
