{% extends "../layouts/base.html" %}
{% block title %}Confirmar eliminación{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="alert alert-danger text-center shadow">
    <h4>¿Estás seguro de que deseas eliminar al proveedor: <strong>{{ proveedor.nombre_empresa }}</strong>?</h4>
    <p>Esta acción no se puede deshacer.</p>
    <form method="POST">
      {% csrf_token %}
      <a href="{% url 'proveedores' %}" class="btn btn-secondary">Cancelar</a>
      <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
  </div>
</div>
{% endblock %}