{% extends "../layouts/base.html" %}
{%load static %} 
{% load widget_tweaks %}
{% block title %}Ajustes{% endblock %}
{% block cabecera_p %} 
  Ajustes  
  {% endblock %}
{% block cabecera_imagen %} 
  <img src="{% static 'img/ajustes.svg' %}" class="img-plantilla" alt="" />
  {% endblock %}

{% block content %}

{# Mostrar mensajes de Django #}
{% if messages %}
<div class="container mt-2">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
</div>
{% endif %}

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% include 'layouts/submenu_ajustes.html' %}
    <h2>Crear Backup de la Base de Datos</h2>
    <form method="POST">
        {% csrf_token %}
        <button class= "ajustes-backup" type="submit" formaction="{% url 'hacer_backup' %}">
          <svg class = "ajustes-backup-icono" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-database-fill-down" viewBox="0 0 16 16">
            <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0M8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1"/>
            <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12 12 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7m6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.55 4.55 0 0 1 .23-2.002m-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-1.3-1.905"/>
          </svg>
          Descargar Backup  </button>
    </form>

    <hr>

{% endblock %}
{# Mostrar backdrop y evitar scroll si hay errores o se edita #}
{% if form.errors or mostrar_modal or editando %}
<script>
  const modal = new bootstrap.Modal(document.getElementById('usuarioModal'));
  modal.show();
</script>
<style>body { overflow: hidden; }</style>
{% endif %}

{% block scripts %}
  {% if mostrar_modal %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const modal = new bootstrap.Modal(document.getElementById("usuarioModal"));
        modal.show();
      });
    </script>
    <style>
      body { overflow: hidden; }
    </style>
  {% endif %}
{% endblock %}