{% extends "../layouts/base.html" %}
{%load static %} 
{% load widget_tweaks %}
{% block title %}Ajustes{% endblock %}
{% block cabecera_p %} 
  Ajustes  
  {% endblock %}
{% block cabecera_imagen %} 
  <img src="{% static 'img/ajustes.svg' %}" class="img-plantilla" alt="" />
  {% endblock %}

{% block content %}
{% include 'layouts/submenu_ajustes.html' %}
<h2>Imagen actual</h2>
{% if imagen_actual %}
    <img src="{{ imagen_actual.imagen.url }}" alt="Imagen actual" class="img-fluid" style="max-width: 200px;">
{% else %}
    <p>No hay imagen configurada.</p>
{% endif %}

<!-- Botón para abrir el modal -->
<button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#imagenModal">
  Cambiar Imagen
</button>

<!-- Modal -->
<div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="imagenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="imagenModalLabel">Cambiar imagen de inicio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          {{ form.imagen|add_class:"form-control" }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}